@import "colors";

// @import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,500,700");
@import url('https://fonts.googleapis.com/css?family=Karla|Space+Mono:400,700');


* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  // font-family: "Roboto", sans-serif;
  // font-family: 'Karla', sans-serif;
  font-family: 'Space Mono', monospace;
  font-size: 16px;
}

p{
  // font-family: 'Karla', sans-serif;
  font-family: 'Space Mono', monospace;

}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.pink-100 {
  color: $color-secondary !important;
}

a.pinklink {
  text-decoration: none;
  color: $color-secondary;
}
a.pinklink:hover {
  text-decoration: underline;
}
