
.event-full {
  background: #ffffff;
  min-height: 80vw;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.event-full h1 {
  font-size: 2em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.event-full img.event-photo {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.event-full p {
  margin: 1rem auto;
}

/* .event-full .tickets {
  width: 100%;
  float: left;
  display: inline-flex;
  margin: 0 auto;
} */

/* .event-full .tickets .icon-and-info {
  width: 50%;
}
.event-full .tickets .icon-and-info h3 {
  float: left;
  width: 70%;
}  */

@media only screen and (min-width: 767px) {
  .event-full {
    width: 60%;
    padding: 1rem;
  }
}

