footer {
  margin-top: 2rem;
  background: #000;
  color: #fff;
  padding: 2rem;
  padding-bottom: 0rem;
}

footer a:link {
  color: #ea148c;
  text-decoration: underline;
}
/* 
.footer-content {
  display: flex;
  flex-direction: row;
  margin: 0.1rem;
  margin-top: 5rem;
  flex-wrap: wrap;
  padding: 1rem;
} */
