@import "colors";

#intro {
  background-color: $color-primary;
  color: $color-tritary;
  width: 100%;
  margin-top: 1rem;
  text-align:center;
  img {
    width: 100%;
  }
}

.large-text {
  padding: 2rem;
}

#intro-inverse{
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  background-color:$color-tritary;
  color:  $color-primary ;
}

@media only screen and (min-width: 767px) {
  #intro-inverse{
    width: 60%;
  }
}
