.customOverlay {
  background: rgba(168, 168, 168, 0.7);
  padding: 0;
}
.customModal {
  background: #ffffff;
  /* max-width: 500px; */
  width: 100%;
}

.customModal h1 {
  font-size: 2em;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.customModal img.event-photo {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.customModal p {
  margin: 1rem auto;
}

.modal-content .tickets {
  width: 100%;
  float: left;
  display: inline-flex;
  margin: 0 auto;
}

.modal-content .tickets .icon-and-info {
  width: 50%;
}

.modal-content .tickets .icon-and-info h3 {
  float: left;
  width: 70%;
}

#modal-inner-content {
  width: 60%;
  margin: 0 auto;
  padding-top: 1.5rem;
}
